<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/vendor/toggle-switch.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/auto-refresh.css" />
</head>

<body>

  <label id="auto-refresh" class="auto-refresh switch-light switch-candy">
    <input id="refresh-checkbox" type="checkbox">
    <span>
      <span>Manual</span>
      <span>Auto-Refresh</span>
      <a></a>
    </span>
  </label>
  
  
 
  

</body>
</html>
