<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/room-popover.css" />
  <script type = "text/javascript"
          src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
</head>

<body>

    <div class="room-popover">
    </div>
    <div class="room-popover-overlay">
        <div class="room-popover-overlay-window">
            <div class="overlay-prompt">Enter room name:</div>
            <input id="roomNameInput" class="overlay-text" type="text" />
            <button class="overlay-submit">Let's go!</button>
        </div>
    </div>
    <script src="/js/room-popover.js"></script>
</body>
</html>
