<!DOCTYPE html>
<html>
<head>
  <title>Worship Along - Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/common.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/snackbar/snackbar.css" />
  <link rel="stylesheet" type="text/css" href="/vendor/snackbar/material.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>

  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>
  <div id="song-area" class="song-area">
    No song loaded. Go to <a href="/song-list">Choose Song</a> to load a song for this room.
  </div>
  <script src=/vendor/snackbar/snackbar.min.js></script>
  <script src="/js/home.js"></script>

</body>
</html>
